[project]
	description = demo
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/bhujangbhagas
[access "refs/for/refs/*"]
	read = group user/bhujangbhagas
	push = group user/bhujangbhagas
	label-Code-Review = -2..+2 group user/bhujangbhagas
	label-Verified = -1..+1 group user/bhujangbhagas
	rebase = group user/bhujangbhagas
	removeReviewer = group user/bhujangbhagas
	submit = group user/bhujangbhagas
[access "refs/heads/*"]
	read = group user/bhujangbhagas
	create = group user/bhujangbhagas
	push = +force group user/bhujangbhagas
	pushMerge = group user/bhujangbhagas
[access "refs/tags/*"]
	push = group user/bhujangbhagas
	push = +force group user/bhujangbhagas
